.burger-customization {
  padding: 10px 10px;
}
.burger-preview {
  margin-bottom: 10px;

  .burger-thumbnail {
    max-width: 120px;
    margin: 0px auto;
  }

  .card-body {
    background: #e5e7e8;
  }
}

.ingredient-customization, .burger-preview {
  min-width: 250px;
  max-width: 300px;
  // margin: 5px auto;
}

.ingredient-customization {
  .list-group-item {
    min-width: 200px;
    padding: 4px 12px;
    color: #6c757d;
    border-bottom-style: dashed;
    font-size: 0.8rem;
  }

  .list-group-item.total-price-item {
    font-size: inherit;
    color: inherit;
  }
}

.star {
  position: relative;
  display: inline-block;
  font-size: 1.2rem;
  color: #d3d3d3;
}

.full {
  color: green;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: green;
}

.add-price {
  display: inline-block;
  padding-left: 10px;
  color: lightgray;
  font-weight: 400;

  &.active {
    color: #bd2130;
  }
}

ngb-rating:focus {
  outline: none;
}
